/* prueba */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*----Header----*/
.nav-list {
  display: flex;
  gap: 16px;
  color: coral;
}

.nav-list li a {
  color: coral;
}

.w-full {
  width: 100%;
}

.navbar-brand {
  color: coral;
  font-family: "Comforter", cursive;
  font-size: 40px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
}

/*----Portada Index----*/
.imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 400px;
}

.imagenes img {
  margin: 20px;
}

.portada-index {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: coral;
}

.texto-portada {
  text-align: center;
}

/*----Main----*/
.title-container {
  text-align: center;
  margin-top: 10px;
}

.title-container-contacto {
  font-family: "Montserrat", sans-serif;
}

.title-container-ubi {
  font-family: "Montserrat", sans-serif;
}

.title-container h1 {
  color: coral;
  font-family: "Comforter", cursive;
  font-size: 50px;
}

.title-container p {
  color: rgb(58, 196, 250);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.p-nosotros {
  justify-content: center;
  display: flex;
  padding: 0 300px;
  align-items: center;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

.h2-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.ubicacion {
  align-items: center;
  width: 650px;
  height: 350px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-list label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-list input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-list input[type=submit] {
  background-color: #75a9f9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-list input[type=submit]:hover {
  background-color: #3d7cda;
}

.carousel-inner {
  height: 600px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 850px;
}

/*----Footer----*/
footer {
  margin-top: auto;
}

.footer-list {
  background-color: coral;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 0px;
}

.redes {
  display: flex;
  justify-content: space-between;
}

.redes i {
  padding: 10px;
  color: aliceblue;
  font-size: xx-large;
}

.hr-list {
  color: coral;
  border-color: coral;
  width: 100%;
}

/*----tarjeta productos----*/
.tarjetas {
  font-family: "Montserrat", sans-serif;
}

.h2-productos {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.contenedor-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.contenedor-productos article {
  margin: 50px;
  border: 2px solid black;
}

@media (max-width: 640px) {
  .ubicacion {
    align-items: center;
    width: 350px;
    height: 350px;
  }
  .p-nosotros {
    padding: 0 10px;
  }
  .active img {
    width: 350px;
    height: 350px;
  }
  .carousel-inner {
    width: 350px;
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
